{% extends 'master.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <div class="auth-box">
        <h4>VOTING SYSTEM<br> ADMIN PANEL</h4>

        <div class="auth-toggle">
            <a href="#" id="toggleSignIn" class="active">Sign In</a>
            <span>|</span>
            <a href="#" id="toggleSignUp">New Account</a>
        </div>

        <!-- Sign In Form -->
        <form id="signInForm" action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <div id="loginErrorMessages" class="error-messages">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="input-group">
                <label>Email address</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group password-group">
                <label>Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
                <i class="bi bi-eye" id="togglePassword"></i>
            </div>
            <div class="forgot-password">
                <p><a href="/forgot-password">Forgot Password?</a></p>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>

        <!-- Sign Up Form -->
        <form id="signUpForm" class="hidden" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label>Email address</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group password-group">
                <label>Password</label>
                <input type="password" name="password" id="signUpPassword" placeholder="Create a password" required>
                <i class="bi bi-eye" id="toggleSignUpPassword"></i>
            </div>
            <div class="input-group password-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
                <i class="bi bi-eye" id="toggleSignUpConfirmPassword"></i>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>
</div>

<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
